<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>NPR</title>
  </head>
  <body>
<H1>NPR News</H1>
    <p> {{ b }} </p>
    <p> {{ c }} </p>
    <p> {{ d }} </p>
    <p> {{ e }} </p>
    <p> {{ ef }} </p>
<p> {{ g }} </p>
<p> {{ h }} </p>
<p> {{ i }} </p>
<p> {{ j }} </p>
<p> {{ k }} </p>
<p> {{ l }} </p>
<p> {{ m }} </p>
<p> {{ n }} </p>
<p> {{ o }} </p>
<p> {{ p }} </p>
<br>
<H1>Ars Technica </H1>
<p> {{ r }} </p>
<p> {{ s }} </p> 
<p> {{ t }} </p> 
<p> {{ u }} </p>
<p> {{ v }} </p> 
<p> {{ w }} </p> 
<p> {{ x }} </p> 
<p> {{ y }} </p>
<p> {{ z }} </p>
<p> {{ ab }} </p>
<p> {{ ac }} </p>
<p> {{ ad }} </p>
<p> {{ ae }} </p>
<p> {{ af }} </p>
<p> {{ ag }} </p>
<br>
<H1>Buffalo News WGRZ</H1>
<p> {{ ai }} </p>
<p> {{ aj }} </p>
<p> {{ ak }} </p>
<p> {{ al }} </p>
<p> {{ am }} </p>
<p> {{ an }} </p>
<p> {{ ao }} </p>
<p> {{ ap }} </p>
<p> {{ aq }} </p>
<p> {{ ar }} </p>
</body>
</html>
